*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    background-color: blue;
    color: blanchedalmond;
    font-size: larger;
    display: flex;
    justify-content: center;
    
}
.container {
    display: flex;
    justify-content: center;
}
.photos {
    display: flex;
    background-color: crimson;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5;
    max-width: 980px;
    align-items: center;
}
.photos img {
    display: flex;
    background-color:black ;
    width: 20%;
    justify-content: space-around;
    padding:10px;
}